name: TS Build App (.NET Framework 4.8.1)

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build solution
        run: msbuild Glow.sln /p:Configuration=Release
